body {
  background-color: Chocolate ;
    color: black;
  font-family: "Times New Roman", Times, serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: Tomato;
  opacity: 1
}


li{
  color: black; 

}
h1{outline-style: dotted;
}

h4{text-decoration: underline;
   color: cyan
  
}
h5{border-style: dotted;
  
}
